<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()" style="border-radius: 25px; background: #2f3b69;">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar *ngIf="PbarHide == 0" type="indeterminate" value="0.5"></ion-progress-bar>
</ion-header>

<ion-content [fullscreen]="true" id="hotel-details" *ngIf="PbarHide == 1">
  <ion-slides pager="true" *ngIf="data.images.length > 0">
    <ion-slide *ngFor="let item of data.images">
      <img [src]="item.Image" />
    </ion-slide>
  </ion-slides>

    <div class="ion-padding">
      <h1 class="hotel-name" style="text-align: left; font-size: 30px;">{{data.Name}}</h1>
      <ion-item-divider class="ion-no-padding"></ion-item-divider>
      <h3 style="color: gray;">Overview</h3>
      <div *ngIf='data.Overview'>
        <p style="color: gray;">{{data.Overview}}</p>
      </div>
      <div *ngIf='!data.Overview'>
        <p style="color: gray;"> No Overview Found. </p>
      </div>
      <ion-item-divider class="ion-no-padding"></ion-item-divider>
      <h3 style="color: gray;">Services</h3>
    </div>
    <ion-grid style="overflow-wrap: normal; font-size: 13px;">
      <ion-row>
        <ion-col size="3" style="text-align: center;">
          <ion-icon class="icon-medium" name="car-sport-sharp"></ion-icon><br> Free<br> Parking &nbsp;
        </ion-col>
        <ion-col size="3" style="text-align: center;">
          <ion-icon class="icon-medium" name="snow-sharp"></ion-icon><br> Air Conditioned &nbsp;
        </ion-col>
        <ion-col size="3" style="text-align: center;">
          <ion-icon class="icon-medium" name="wine"></ion-icon><br> Mineral Water &nbsp;
        </ion-col>
        <ion-col size="3" style="text-align: center;">
          <ion-icon class="icon-medium" name="sparkles"></ion-icon><br> Premium Quality &nbsp;
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4" style="text-align: center;">
          <ion-icon class="icon-medium" name="expand"></ion-icon> <br> {{data.Yards}} Yards &nbsp;
        </ion-col>
        <ion-col size="4" style="text-align: center;">
          <ion-icon class="icon-medium" name="apps"></ion-icon><br> Buffet System &nbsp;
        </ion-col>
        <ion-col size="4" style="text-align: center;">
          <ion-icon class="icon-medium" name="people"></ion-icon><br> Expert Team &nbsp;
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="ion-padding">
      <ion-item-divider class="ion-no-padding"></ion-item-divider>
      <h3 style="color: gray;">Contact Information</h3>
      <ion-grid style="overflow-wrap: normal;">
        <ion-row style="margin-bottom: 5px;">
          <ion-col size="2">
            <ion-icon name="location" class="icon-medium"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <div *ngIf='data.Address'>
              {{data.Address}}
            </div>
            <div *ngIf='!data.Address'>
              No Address Found.
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="margin-bottom: 5px;">
          <ion-col size="2">
            <ion-icon name="call" class="icon-medium"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <div *ngIf='data.Phone'>
              {{data.Phone}}
            </div>
            <div *ngIf='!data.Phone'>
              No Phone Number Found.
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="margin-bottom: 5px;">
          <ion-col size="2">
            <ion-icon class="icon-medium" name="mail-sharp"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <div *ngIf='data.Email'>
              {{data.Email}}
            </div>
            <div *ngIf='!data.Email'>
              No Email Found.
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item-divider class="ion-no-padding"></ion-item-divider>
      <h3 style="color: gray;">Description</h3>
      <div *ngIf='data.Description'>
        <p style="color: gray;">{{data.Description}}</p>
      </div>
      <div *ngIf='!data.Description'>
        <p style="color: gray;">No Description Found.</p>
      </div>

      <ion-item-divider class="ion-no-padding"></ion-item-divider>
      <h3 style="color: gray;">Location</h3>
      <div *ngIf='data.Lattitude && data.Longitude'>
        <div class="map"><a style="border-bottom: 1px solid;" (click)="mapModal(data.Lattitude, data.Longitude)">Click here to see on map.</a></div>
        <!-- <img class="location-img ion-no-padding" src="assets/DetailsImgs/navigation-map.png"> -->
      </div>
      <div *ngIf='!data.Lattitude && !data.Longitude'>
        <p style="color: gray;">No Location Found.</p>
      </div>

    </div>
</ion-content>