<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()" style="border-radius: 25px; background: #2f3b69;">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-title>Venues</ion-title> -->
  </ion-toolbar>
  <ion-progress-bar *ngIf="PbarHide == 0" type="indeterminate" value="0.5"></ion-progress-bar>
</ion-header>

<ion-content [fullscreen]="true" id="hotel-details" *ngIf="PbarHide == 1">
  <ion-slides pager="true" *ngIf="data.images.length > 0">
    <ion-slide *ngFor="let item of data.images">
      <img [src]="item.Image" />
    </ion-slide>
  </ion-slides>

  <!-- <ion-slides pager="true" *ngIf="testimageArray.length > 0">
    <ion-slide *ngFor="let item of testimageArray">
      <img [src]="item" />
    </ion-slide>
  </ion-slides> -->

  <div  class="ion-no-padding">
    <ion-card class="box-shadow ion-padding ion-no-margin ion-text-center">
      <h1 class="hotel-name" style="text-align: center;">{{data.Name}}</h1>
      <p style="text-align: center;"> <ion-icon name="location" slot="start" color="medium"></ion-icon> {{data.Address}}</p>
    </ion-card>
    
    <!-- <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          <ion-card class="box-shadow ion-padding ion-no-margin ion-text-center">
            <div class="images ion-padding">
              <ion-img src="assets/DetailsImgs/yards.png"></ion-img>
            </div>
            <ion-card-content class="ion-no-padding">
              <h2 class="text-size-lg">Yards:</h2>
              <p class="text-size-xs">{{data.Yards}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      
        <ion-col>
          <ion-card class="box-shadow ion-padding ion-no-margin ion-text-center">
            <div class="images ion-padding">
              <ion-img src="assets/DetailsImgs/star.png"></ion-img>
            </div>
            <ion-card-content class="ion-no-padding">
              <h2 class="text-size-lg">Service: </h2>
              <p class="text-size-xs">Excellent</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card class="box-shadow ion-padding ion-no-margin ion-text-center">
            <div class="images ion-padding">
              <ion-img src="assets/DetailsImgs/slot.png" style="display: inline-table; width: 40%;"></ion-img>
            </div>
            <ion-card-content class="ion-no-padding">
              <h2 class="text-size-lg">Available Slots:</h2>
              <p class="text-size-xs" *ngFor="let slot of data.slots let in=index">{{in+1}}. {{slot.SlotStartEnd}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card class="box-shadow ion-padding ion-no-margin ion-text-center">
            <div class="images ion-padding">
              <ion-img src="assets/DetailsImgs/minCap.png"></ion-img>
            </div>
            <ion-card-content class="ion-no-padding">
              <h2 class="text-size-lg">Min. Capacity:</h2>
              <p class="text-size-xs">{{data.MinCapacity}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card class="box-shadow ion-padding ion-no-margin ion-text-center">
            <div class="images ion-padding">
              <ion-img src="assets/DetailsImgs/maxCap.png"></ion-img>
            </div>
            <ion-card-content class="ion-no-padding">
              <h2 class="text-size-lg">Max. Capacity:</h2>
              <p class="text-size-xs">{{data.MaxCapacity}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid> -->

    <div class="ion-padding">
      <ion-list-header class="ion-no-padding">
        <ion-label color="medium">Description</ion-label>
      </ion-list-header>

      <ion-text color="medium">
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
        content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum
         as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
      </ion-text>
<div></div>
      <ion-label style="padding:10px">
        <p><strong>Address:</strong> {{data.Address}}</p>
        <p><strong>Website:</strong> <a href="#"> WWW.vacantmarks.com</a></p>
        <p><strong>Phone:</strong> <i>{{data.Phone}}</i></p>
      </ion-label>
  
      <img class="location-img ion-no-padding" src="assets/DetailsImgs/navigation-map.png">
    </div>
    </div>

  <!-- <div style="padding-right: 15px;">
    <ion-button expand="block" expand="full" shape="round" fill="outline">
      See Availablity
    </ion-button>
  </div> -->
</ion-content>