<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons> -->
    <ion-title>Venues</ion-title>
  </ion-toolbar>
  <ion-toolbar >
    <ion-searchbar placeholder="Search"
                   animated
                   (ionChange)="search( $event )"
                   (ionCancel)="clear($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div id="popular_hotels">
    <ion-card class="ion-no-padding" *ngFor="let item of data">
      <ion-list lines="none" class="ion-no-padding">
        <ion-item class="ion-no-padding">

          <ion-thumbnail slot="start"  (click)="onItemClickFunc(item.Id,item.Name)">
            <img class="packages_thumbnail" style="vertical-align: middle;" [src]="item.EncodeLogo">
          </ion-thumbnail>

          <ion-label class="ion-text-wrap" (click)="onItemClickFunc(item.Id,item.Name)">
            <h4 class="name">{{item.Name}}</h4>
            <ion-text color="medium">
              <ion-icon color="medium" name="location"></ion-icon> 
              {{item.Address}}<br>
              Max Capacity: {{item.MaxCapacity}}<br>
              Min Capacity: {{item.MinCapacity}}<br>
              Area(yards): {{item.Yards}}<br>
            </ion-text>
            <br>
            <p class="ion-padding-top">
              <ion-icon name="person"></ion-icon> {{item.totalPerson}} &nbsp;
              <ion-icon name="briefcase"></ion-icon> {{item.suitcases}} &nbsp;
              <ion-icon name="logo-slack"></ion-icon> {{item.seats}} &nbsp;
              <ion-icon name="copy"></ion-icon> {{item.doorCount}}
            </p>
          </ion-label>
          <ion-card (click)="onDetailsClick(item.Id,item.Name)">
            Details
          </ion-card>
        </ion-item>
      </ion-list>
    </ion-card>
  </div> -->

  <div *ngIf=" allData.length > 0">
    <ion-card *ngFor="let item of data; let k=index">
      <!-- <ion-fab vertical="top" horizontal="start">
        <ion-button size="small" color="warning">
          {{item.slots[0].Status}}
        </ion-button>
      </ion-fab>
   -->
      <img [src]="item.EncodeLogo">
      <ion-list lines="none">
        <ion-item>
          <ion-label class="ion-text-wrap"  (click)="onItemClickFunc(item.Id,item.Name)">
  
            <h4 class="name">{{item.Name}}</h4>
  
            <ion-text style="font-size: 12px;" color="medium"> 
              Max Capacity: {{item.MaxCapacity}} Persons. <br>
                Min Capacity: {{item.MinCapacity}} Persons. <br>
                <!-- Available slot: {{item.slots[0].SlotStartEnd}}<br> -->
                <!-- Date: {{item.slots[0].Date}} <br> -->
            </ion-text>
          </ion-label>
          <ion-card (click)="onDetailsClick(item.Id,item.Name)">
            Details
          </ion-card>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>