ion-searchbar {
    --border-radius: 25px;
}

// ion-header {
//     z-index: auto;
// }

// ion-toolbar {
//     // --background: transparent;
//     // --ion-color-base: transparent !important;
//     background: var(--ion-color-color1) !important;
//     text-align: center;
//     padding: 0px;
// }

ion-menu-button {
    color: var(--ion-color-color1);
}

// ion-content.background {
//     .top-img {
//         margin-top: -56px;
//         width: 100%;
//         height: 250px;
//         object-fit: cover;
//     }

//     #section1 {
//         margin-top: -10%;

//         ion-searchbar {
//             --icon-color: var(--ion-color-color1);
//             --placeholder-color: var(--ion-color-color1);
//             --background: #fff;
//             --color: var(--ion-color-color1);
//             --box-shadow: 0px 1px 12px 0px #cccccc;
//             --border-radius: 25px;
//         }
//     }

//     #popular_hotels {
//         ion-list-header ion-label {
//             font-size: 22px;
//             font-weight: 700;
//             letter-spacing: 0px;
//         }

//         // #slider
//         ion-slides,
//         .swiper-container {
//             width: 100%;
//             height: 200px;
//         }

//         .swiper-slide {
//             background-size: cover !important;
//             background-position: center !important;
//             border-radius: 10px;
//         }

//         .slider {
//             .section_1 {
//                 position: absolute;
//                 top: 10px;
//                 left: 10px;
//                 text-align: left;
//                 margin: 0;
//             }

//             .section_2 {
//                 position: absolute;
//                 bottom: 10px;
//                 left: 10px;
//                 text-align: left;
//                 margin: 0;
//                 color: white;
//                 text-shadow: 0 1px 0 black;


//                 h2 {
//                     font-size: 14px;
//                 }
//             }
//         }
//     }

//     #hot_packages {
//         .item {
//             ion-thumbnail {
//                 width: 100px;
//                 height: 120px;

//                 .packages_thumbnail {
//                     width: 100px;
//                     height: 120px;
//                     border-radius: 5px;
//                 }
//             }

//             .name {
//                 font-size: 14px;
//                 font-weight: 500;
//             }

//             ion-icon {
//                 color: var(--ion-color-color1);
//                 padding-right: 10px;
//             }

//             ion-note {
//                 font-size: 1.3rem;
//                 font-weight: 600;
//             }

//             ion-card {
//                 writing-mode: tb-rl;
//                 padding: 10px;
//                 background: var(--ion-color-color1);
//                 color: white;
//                 font-size: 14px;
//                 font-weight: 700;
//             }
//         }
//     }
// }

.section1 {
   // background: var(--ion-color-color1) !important;
    text-align: center;
    padding: 0px;

    .value {
    //    color: var(--ion-color-color1);
        font-weight: 600;
        font-size: 0.9rem;
    }

    ion-item {
       --background: #2f3b69;
        --color: #ffffff;

        font-weight: 600;
     //   --highlight-background: var(--ion-color-color1);

        ion-label {
            color: #ffffff;
        }
    }

    ion-button {
        --background: #ffffff;
       // --color: var(--ion-color-color1);
        --background-activated: #ffffff;
    }
}

ion-segment {
    .segment-button-checked {
        color: #000000;
    }

    ion-segment-button {
        color: #fff;
        --background-hover: #2f3b69;
        --background-focused: #2f3b69;
        --color-checked: #2f3b69;
        --indicator-color: #ffffff;
    }
}

.submit-btn {
    ion-button {
        width: 100%;
    }
}

#popular_hotels {
    .item {
        ion-thumbnail {
            width: 100px;
            height: 137px;

            .packages_thumbnail {
                width: 100px;
                height: 137px;
                border-radius: 5px;
            }
        }

        .name {
            font-size: 14px;
            font-weight: 500;
        }

        ion-icon {
          //  color: var(--ion-color-color1);
            padding-right: 10px;
        }

        ion-note {
            font-size: 1.3rem;
            font-weight: 600;
        }

        ion-card {
            writing-mode: tb-rl;
            padding: 10px;
            background-color: #2f3b69;
            color: #fff;
            font-size: 14px;
            font-weight: 700;
        }
    }
}