<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Venues</ion-title>
  </ion-toolbar>
  <ion-toolbar >
    <ion-searchbar placeholder="Search"
                   animated
                   (ionChange)="search( $event )"
                   (ionCancel)="clear($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf=" allData.length > 0">
    <ion-card *ngFor="let item of data">
      <ion-fab vertical="top" horizontal="start">
        <ion-button size="small" color="dark" (click)="onDetailsClick(item.Id,item.Name)">
          {{item.Name}}
        </ion-button>
      </ion-fab>
      <img [src]="item.EncodeLogo" (click)="onItemClickFunc(item.Id,item.Name)" />
    </ion-card>
  </div>
  
  <!-- <div *ngIf=" allData.length > 0">
    <ion-card *ngFor="let item of data; let k=index">
      <img [src]="item.EncodeLogo">
      <ion-list lines="none">
        <ion-item>
          <ion-label class="ion-text-wrap"  (click)="onItemClickFunc(item.Id,item.Name)">
  
            <h4 class="name">{{item.Name}}</h4>
  
            <ion-text style="font-size: 12px;" color="medium"> 
              Max Capacity: {{item.MaxCapacity}} Persons. <br>
                Min Capacity: {{item.MinCapacity}} Persons. <br>
            </ion-text>
          </ion-label>
          <ion-card (click)="onDetailsClick(item.Id,item.Name)">
            Details
          </ion-card>
        </ion-item>
      </ion-list>
    </ion-card>
  </div> -->

  <div *ngIf=" allData.length == 0">
    <div *ngFor='let item of skeletonList'>
      <ion-card>
        <ion-skeleton-text style="padding:20%;margin-left: 3%;margin-top: 3%;width: 94%;" animated></ion-skeleton-text>
        <ion-list lines="none">
          <ion-item>
            <ion-label class="ion-text-wrap">
              <ion-skeleton-text style="width: 40%;" animated></ion-skeleton-text>
              <ion-skeleton-text style="width: 40%;" animated></ion-skeleton-text> 
              <ion-skeleton-text style="width: 40%;" animated></ion-skeleton-text>
            </ion-label>
            <ion-card>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-card>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>
  </div>
</ion-content>