<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" routerLink="/dashboard" routerDirection="root">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Searched Venue</ion-title>
  </ion-toolbar>
  <ion-toolbar >
    <ion-searchbar placeholder="Search"
                   animated
                   (ionChange)="search( $event )"
                   (ionCancel)="clear($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div id="popular_hotels" *ngIf=" allData.length > 0">
    <ion-card class="ion-no-padding" *ngFor="let item of data; let k=index">
      <ion-list lines="none" class="ion-no-padding">
        <ion-item class="ion-no-padding">

          <ion-thumbnail slot="start"  (click)="onItemClickFunc(item.Id,item.Name)">
            <img class="packages_thumbnail" style="vertical-align: middle;" [src]="item.EncodeLogo">
          </ion-thumbnail>

          <ion-label class="ion-text-wrap" (click)="onItemClickFunc(item.Id,item.Name)">
            <h3 class="name">{{item.Name}}</h3>
            <ion-text style="word-wrap: normal;" color="medium">
              <ion-icon color="medium" name="location"></ion-icon> 
              {{item.Address}} <br>
              Max Capacity: {{item.MaxCapacity}} <br>
              Min Capacity: {{item.MinCapacity}} <br>
              Available slot: {{item.slots[k].SlotStartEnd}}<br>
              Date: {{item.slots[k].Date}} <br>
              Status: {{item.slots[k].Status}}
            </ion-text>
            <br>
            <p class="ion-padding-top">
              <ion-icon name="person"></ion-icon>
              <ion-icon name="briefcase"></ion-icon>
              <ion-icon name="logo-slack"></ion-icon>
              <ion-icon name="copy"></ion-icon>
            </p>
          </ion-label>
          <ion-card (click)="BookNowClick()">
            Book Now
          </ion-card>
        </ion-item>
      </ion-list>
    </ion-card>
  </div> -->

  <div *ngIf=" allData.length > 0">
    <ion-card *ngFor="let item of data; let k=index">
      <ion-fab vertical="top" horizontal="start">
        <ion-button size="small" color="warning">
          {{item.slots[k].Status}}
        </ion-button>
      </ion-fab>
  
      <img [src]="item.EncodeLogo" />
      <ion-list lines="none">
        <ion-item>
          <ion-label class="ion-text-wrap"  (click)="onItemClickFunc(item.VenueId,item.Name)">
  
            <h4 class="name">{{item.Name}}</h4>
  
            <ion-text style="font-size: 12px;" color="medium"> 
              Max Capacity: {{item.MaxCapacity}} <br>
                Min Capacity: {{item.MinCapacity}} <br>
                Available slot: {{item.slots[k].SlotStartEnd}}<br>
                Date: {{item.slots[k].Date}} <br>
            </ion-text>
          </ion-label>
  
          <ion-card (click)="BookNowClick()">
            Book Now
          </ion-card>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
 
</ion-content>
