.item {
    ion-avatar {
        width: 100px;
        height: 100px;
    }

    .name {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .edit-profile {
        font-size: 16px;
        color: #6d6d6d;
        font-weight: 500;
    }
}