<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-label>Vacant Marks</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="section1">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Search Venue</ion-label>
            <ion-input type="text" (click)="getDestination()" placeholder="Please Select" name="destination" clear-input
             [(ngModel)]="postData.destination"></ion-input>
               <ion-icon style="padding-top: 20px;" slot="end" *ngIf="!isDestinationValid" name="remove-circle"></ion-icon>
          </ion-item>
        </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-label position="stacked">Select Date</ion-label>
              <ion-datetime displayFormat="DD MMMM YYYY" placeholder="Please Select" min="{{minDate}}" max={{maxDate}} 
              [(ngModel)]="postData.Date">
              </ion-datetime>
                <ion-icon style="padding-top: 20px;" slot="end" *ngIf="!isDateValid" name="remove-circle"></ion-icon>
              </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="search()">Search</ion-button>
          </ion-col>
        </ion-row>
    </ion-grid>
  
  <div style="padding-top: 10px;" id="popular_hotels">
    <ion-list-header>
      <ion-label color="dark">Popular Venues</ion-label>
    </ion-list-header>

    <ion-slides class="ion-padding slider" #slider [options]="slideOpts">
      <ion-slide *ngFor="let item of venues" (click)="onDetailsClick(item.Id)"
              [ngStyle]="{'background' : 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(' + item.EncodeLogo + ')'}">

        <div class="section_1">
        </div>

        <div class="section_2">
          <h2>{{item.Name}}</h2>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
