<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-label>Booked Venues</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf='data.length > 0'>
    <ion-card style="padding-top: 5px; padding-bottom: 5px;" *ngFor='let item of detailHeader; let k = index'>
          <ion-item lines="none" (click)="showMore[k] = !showMore[k]">
            <div>
              <div *ngIf="!showMore[k]">
                <ion-icon style="color: #2f3b69;" name="today"></ion-icon>
                  {{trimString(item.Date,55)}}
              </div>
              <div *ngIf="showMore[k]" style="color: slategray; font-size: 11pt;"> 
                <ion-icon style="color: #2f3b69;" name="today"></ion-icon>
                {{item.Date}}<br>
                <ion-icon style="color: #2f3b69;" name="storefront"></ion-icon>
                {{item.Venue}}<br>
                <ion-icon style="color: #2f3b69;" name="sparkles"></ion-icon>
                {{item.Title}}<br>
                <ion-icon style="color: #2f3b69;" name="stats-chart"></ion-icon>
                {{item.Status}}<br>
                <ion-icon style="color: #2f3b69;" name="time-sharp"></ion-icon>
                {{item.Description}}<br>
              </div>
          </div>
          <i slot="end" *ngIf="!showMore[k]" class="icon icon-plus icon-small"></i>
          <i slot="end" *ngIf="showMore[k]" class="icon icon-minus icon-small"></i>
        </ion-item>
    </ion-card>
  </div>

  <!--============================== Skeleon ==============================================-->
  <div *ngIf='data.length == 0'>
    <ion-list style="padding-right: 4%;">
      <div *ngFor='let item of skeletonList'>
          <ion-item>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-item>
      </div>
    </ion-list>
  </div>

</ion-content>
