<ion-header>
  <ion-toolbar>
    <ion-title>Booking</ion-title>
    <ion-button style="background-color: darkslateblue; margin-right: 10px;" color="clear" size="small" slot="end" (click)="close()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item class="ion-no-padding transparent input">
          <ion-label class="text-size-xs" position="floating" >Title </ion-label>
          <ion-select interface="action-sheet" class="custom-options" (ionChange)="validateInputs()" [(ngModel)]="postData.title">
            <ion-select-option value="Wedding Ceremony">Wedding Ceremony</ion-select-option>
            <ion-select-option value="Valima Reception">Valima Reception</ion-select-option>
            <ion-select-option value="Birthday">Birthday</ion-select-option>
            <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>
        <ion-icon style="padding-top: 20px;" class="icon-small" slot="end" *ngIf="!istitleValid" name="remove-circle"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>

    <ion-row>
        <ion-col size="12">
          <ion-item class="ion-no-padding transparent input">
            <ion-label class="text-size-xs" position="floating" >Available Slots </ion-label>
            <ion-select interface="action-sheet" class="custom-options" (ionChange)="validateInputs()" [(ngModel)]="postData.SlotId">
              <ion-select-option *ngFor="let item of Slots"  value="{{item.Id}}">{{item.SlotStartEnd}}</ion-select-option>
          </ion-select>
          <ion-icon style="padding-top: 20px;" class="icon-small" slot="end" *ngIf="!isSlotValid" name="remove-circle"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-item class="ion-no-padding transparent input">
        <ion-label class="text-size-xs" position="floating" >Total Guest </ion-label>
        <ion-input type="number" class="custom-options" [(ngModel)]="postData.Guest" (ionChange)="validateInputs()"></ion-input>
        <ion-icon style="padding-top: 20px;" class="icon-small" slot="end" *ngIf="!isGuestValid" name="remove-circle"></ion-icon>
    </ion-item>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="12">
    <ion-item class="ion-no-padding transparent input">
      <ion-label class="text-size-xs" position="floating" >Booking Date </ion-label>
      <ion-input class="custom-options" [(ngModel)]="postData.BookingDate" (ionChange)="validateInputs()" readonly></ion-input>
      <ion-icon style="padding-top: 20px;" class="icon-small" slot="end" *ngIf="!isDateValid" name="remove-circle"></ion-icon>
  </ion-item>
</ion-col>
</ion-row>

<ion-row>
  <ion-col size="12">
      <ion-button expand="block" expand="full" shape="round" fill="outline" (click)="BookVenue()"> Book Venue </ion-button>
</ion-col>
</ion-row>

  </ion-grid>
</ion-content>
