<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" routerLink="" routerDirection="root">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Venues</ion-title>
  </ion-toolbar>
  <ion-toolbar >
    <ion-searchbar placeholder="Search"
                   animated
                   (ionChange)="search( $event )"
                   (ionCancel)="clear($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf=" allData.length > 0">
    <ion-card *ngFor="let item of data; let k=index">
      <ion-fab vertical="top" horizontal="start">
        <ion-button size="small" color="warning">
          {{item.slots[0].Status}}
        </ion-button>
      </ion-fab>
  
      <img [src]="item.EncodeLogo">
      <ion-list lines="none">
        <ion-item>
          <ion-label class="ion-text-wrap"  (click)="onItemClickFunc(item.VenueId,item.Name)">
  
            <h4 class="name">{{item.Name}}</h4>
  
            <ion-text style="font-size: 12px;" color="medium"> 
              Max Capacity: {{item.MaxCapacity}} Persons. <br>
                Min Capacity: {{item.MinCapacity}} Persons. <br>
                <!-- Available slot: {{item.slots[0].SlotStartEnd}}<br> -->
                Date: {{item.slots[0].Date}} <br>
            </ion-text>
          </ion-label>
  
          <ion-card (click)="BookNowClick()">
            Book Now
          </ion-card>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
